.page__container {
    height: 100vh;
    background-image: url("./../assets/home_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

button {
    height: 40px;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    outline: none;
    border:none;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1,1.1);
}

.navigator__container {
    position: sticky;
    width: 100%;
    top: 1rem;
    z-index: 2;
}
.navigator__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem 3rem 1rem;
}
.navigator__links {
    display: flex;
    justify-content: space-between;
    width: 34%;
}
.nav__item {
    text-decoration: none;
    list-style: none;
    color: #000000;
    font-weight: 600;
}

.home__container {
    padding: 1rem;
    /*display: flex;*/
}

.banner__section {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.banner__wrapper {
    margin: 20vh 0 0 20vh;
}
.banner__h1 {
    /*font-family: Inter;*/
    font-size: 102px;
    line-height: 102px;
    font-weight: 700;
}
.banner__h3 {
    margin: 2rem 0;
    font-size: 23px;
    font-weight: 500;
    color: #88888C;
}
.card__container {
    margin: 3rem auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 25px;
}
.card__information__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #EAE9EA;
}
.card__information__input {
    display: flex;
}
.card__information__input img {
    margin-right: 1rem;
}
.text__container {
    display: inline-block;
}
.text__element {
    color: #88888C;
    border-right: 2px solid #88888C;
    width: 100%;
    padding-right: 2px;
    white-space: nowrap;
    overflow:hidden;
    animation: type-steps 2s steps(20),
    cursor-blink .4s step-end infinite alternate;
}

.card__information__header > img {
    animation: rotation-animation 5s infinite;
}
.card__information__body {
    padding:2rem 4rem;
    display: flex;
    justify-content: space-between;
}
.card__info__heading {
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    color: #191919;
}
.ccard__info__subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #858585;
}
.card__information__item {
    display: flex;
    align-items: baseline;
}
.card__information__icon {
    margin-right: .5rem;
}
.card__information__item:hover > .card__information__icon  {
    animation: rotation-animation 5s infinite;
}
.card__information__item:hover > .icon__path > * {
    fill: #3D5CFF;
}
@keyframes rotation-animation {
   10% {
       transform: rotate(45deg);
   }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-45deg);
    }

    90% {
        transform: rotate(0deg);
    }
}

@keyframes cursor-blink {
    50% {border-right: transparent}
}

@keyframes type-steps{
    from {width: 0}
}